body{
    margin: 0;
    font-family: 'Sarabun', sans-serif;
    background-color: rgba(255, 227, 194, 0.5);
}
.header{
    background: rgb(223, 107, 159);
    padding: 1px;

}
.header h3{
    padding-left: 30px;
    font-size: 25px;
    font-weight: bolder;
}
legend{
    padding: 0;
    font-weight: bold;
    font-size: 20px;
}
form{
    padding-left: 40px;
    line-height: 35px;
    font-size: 16px;
}
select,input{
    font-size: 16px;
}
.form-group{
    padding-left: 20px;
    padding-top: 0px;
}
fieldset{
    width: 30%;
}
.but{
    padding: 5px;
    font-size: 18px;
}
.a{
    padding-top: 10px;
    padding-left: 21%;

}
.but{
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
    font-size: 18px;
}
.but:hover{
    background-color: rgb(223, 107, 159);
    color: white;
    transition: 0.5s;
}
a{
    text-decoration: none;
    color: blue;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    transition: 0.5s;
    border: 2px solid black;
}
a:hover{
    background-color: aquamarine;
    transition: 0.5s;
}