body{
    margin: 0;
    font-family: 'Sarabun', sans-serif;
  }
  .imgtop{
    float: left;
    display: inline;
    padding: 6px;
  }
  header{
    background: rgb(223, 107, 159);
    width: auto;
  }
  .header h2{
    width: 150%;
    padding-bottom: 5px;
  }



.login{
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
nav{
  font-size: 20px;
}

input{
    width: 350px;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
    border:  1px solid rgb(0, 0, 0);
    box-shadow: 1px 1px 1px rgba(50, 197, 255, 0.617);
    padding-left: 10px;
}

.txt-field{
    text-align: center;
    padding: 10px;
}

.p{
    padding-bottom: 5px;
    font-size: 30px;
    font-weight:500;
    text-align: center;
}

.but{
    width: 200px;
}


footer{
  background-color: rgb(229, 149, 185);
    padding: 1px;
    width: 100%;
    color: rgb(0, 0, 0);
    left: 0;
    bottom: 0;
    position: fixed;
}
.footer h4{
    padding-left: 30px;
    color: white;
    line-height: 30px;
}
.foot{
  padding-left: 20px;
}

.navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    background-color: rgb(229, 149, 149);
    border: 1px solid white;
    border-radius: 10px;
  }
  
  .navbar a:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

